<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Croisières disponibles:</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row padded">
    <% @trips.each do |trip| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= trip.photo.url(:standard) %>');">
        <!-- <img class="card-img-top" src="assets/images/penduik.jpg" alt="Card image cap"> -->
        <div class="card-category"> <%= trip.departure_port %> <%= trip.arrival_port %> </div>
        <div class="card-description">
          <h2><%= trip.boat_name %></h2>
          <p><%= trip.description %></p>
        </div>
        <img class="card-user avatar avatar-large" src="<%= image_path trip.captain.profile_pic %>">
        <%= link_to 'voir', trip_path(trip), class: 'card-link' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
