
<div class="col-md-12">
  <h1 class="text-center">Welcome</h1>
  <h3 class="text-center"><%= current_user.first_name %></h3>
</div>
<div class="avatar-profile">
  <img src="<%= current_user.profile_pic %>" alt="user" class="avatar-profile-large">
</div>
<div class="col-lg-12">
  <div class="info">
    <h3 class="text-center">Info</h3>
      <p class="text-center">Last Name : <%= current_user.last_name %></p>
      <p class="text-center">First Name : <%= current_user.first_name %></p>
      <p class="text-center">E-mail : <%= current_user.email %></p>
  </div>
</div>


  <div class="container">
    <h3 class="text-center">Reservation for my trips</h3>
        <% @captain_bookings.each do |booking| %>
        <div class="product">
        <ul class="list-inline product-controls col-lg-offset-2">
        <li><%= image_tag "holidays.png" %></li>
        <li><%= booking.user.first_name %> booked a place on your trip !</li>
        <li><strong>Motivation</strong> : <%= booking.motivation %></li>
        <li><strong>Status</strong> : <%= booking.status %></li>
        <li><%= link_to "Accept", accept_reservation_path(booking), method: :patch, data: {confirm: "Are you sure?"}, class: "btn btn btn-success"  %></li>
        <li><%= link_to "Deny", deny_reservation_path(booking), method: :patch, data: {confirm: "Are you sure?"}, class: "btn btn btn-danger"  %></li>
        </ul>
        </div>
        <% end %>
  </div>




<div class="container">
  <h3 class="text-center">My trips reserved</h3>
      <% @bookings.each do |booking| %>
      <div class="product">
      <ul class="list-inline product-controls col-lg-offset-2">
      <li><%= image_tag "transport.png" %></li>
      <li><strong><%= booking.trip.departure_port %></strong><i class="fa fa-arrows-h" aria-hidden="true"></i><strong> <%= booking.trip.arrival_port %></strong></li>
      <li><%= link_to "View trip details !", trip_path(booking.trip), class: "text-center btn btn-success", target: "_blank" %></li>
      <li>Status : <%= booking.status %></li>
      </ul>
      </div>
  <% end %>
</div>
