<div class="contenaire">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Welcome</h1>
      <h3 class="text-center"><%= current_user.first_name %></h3>
    </div>
    <div class="avatar-profile">
    <img src="<%= current_user.profile_pic %>" alt="user" class="avatar-profile-large">
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Info</h3>
      <p class="text-center">Last Name : <%= current_user.last_name %></p>
      <p class="text-center">First Name : <%= current_user.first_name %></p>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">My bookings</h3>
      <% @bookings.each do |booking| %>
      <p class="text-center"><strong><%= booking.trip.departure_port %></strong> <i class="fa fa-arrows-h" aria-hidden="true"></i> <strong><%= booking.trip.arrival_port %></strong></p>
        <p class="text-center">  <%= link_to "View trip details !", trip_path(booking.trip), class: "text-center btn btn-success", target: "_blank" %> </p>
      <p class="text-center">Status : <%= booking.status %></p>
      <br>
      <% end %>
    </div>
<div class="col-md-4">
      <h3 class="text-center">They have booked my trips</h3>
      <% @captain_bookings.each do |booking| %>
      <p class="text-center"><%= booking.first_name %> <%= booking.last_name %> booked a place on your trip !</p>
      <p class="text-center">Motivation : <%= booking.motivation %> </p>
      <p class="text-center">Status : <%= booking.status %></p>
      <p class="text-center"><%= link_to "Accept", accept_reservation_path(booking), method: :patch, data: {confirm: "Are you sure?"}, class: "text-center btn btn-success"  %>
      <%= link_to "Deny", deny_reservation_path(booking), method: :patch, data: {confirm: "Are you sure?"}, class: "text-center btn btn-danger"  %></p>
      <% end %>
    </div>
  </div>
</div>
